Download the [dataset from kaggle](https://www.kaggle.com/c/ncaam-march-mania-2021/data).

In [1]:
import numpy as np
import pandas as pd

In [3]:
fdr = 'ncaam-march-mania-2021/'
def load(fname):
    return pd.read_csv(f'{fdr}{fname}')
seeds = load('MNCAATourneySeeds.csv')
seeds

      Season Seed  TeamID
0       1985  W01    1207
1       1985  W02    1210
2       1985  W03    1228
3       1985  W04    1260
4       1985  W05    1374
...      ...  ...     ...
2281    2019  Z12    1332
2282    2019  Z13    1414
2283    2019  Z14    1330
2284    2019  Z15    1159
2285    2019  Z16    1205

[2286 rows x 3 columns]

In [20]:
tourney = load('MNCAATourneyDetailedResults.csv')
tourney

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2003,134,1421,92,1411,84,N,1,32,69,...,31,14,31,17,28,16,15,5,0,22
1,2003,136,1112,80,1436,51,N,0,31,66,...,16,7,7,8,26,12,17,10,3,15
2,2003,136,1113,84,1272,71,N,0,31,59,...,28,14,21,20,22,11,12,2,5,18
3,2003,136,1141,79,1166,73,N,0,29,53,...,17,12,17,14,17,20,21,6,6,21
4,2003,136,1143,76,1301,74,N,1,27,64,...,21,15,20,10,26,16,14,5,8,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1110,2019,146,1120,77,1246,71,N,1,26,65,...,21,12,21,11,30,14,14,5,5,19
1111,2019,146,1277,68,1181,67,N,0,30,70,...,21,8,13,13,29,14,17,4,9,9
1112,2019,152,1403,61,1277,51,N,0,22,51,...,24,14,18,8,28,6,11,1,2,15
1113,2019,152,1438,63,1120,62,N,0,25,51,...,31,11,14,9,24,9,5,3,3,12
1114,2019,154,1438,85,1403,77,N,1,27,59,...,30,13,15,9,23,9,8,6,3,18

In [22]:
sample = load('MSampleSubmissionStage1.csv')
sample

                   ID  Pred
0      2015_1107_1112   0.5
1      2015_1107_1116   0.5
2      2015_1107_1124   0.5
3      2015_1107_1125   0.5
4      2015_1107_1129   0.5
...               ...   ...
11385  2019_1449_1459   0.5
11386  2019_1449_1463   0.5
11387  2019_1458_1459   0.5
11388  2019_1458_1463   0.5
11389  2019_1459_1463   0.5

[11390 rows x 2 columns]

In [14]:
regular_season = load('MRegularSeasonDetailedResults.csv')
regular_season

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2003,10,1104,68,1328,62,N,0,27,58,...,10,16,22,10,22,8,18,9,2,20
1,2003,10,1272,70,1393,63,N,0,26,62,...,24,9,20,20,25,7,12,8,6,16
2,2003,11,1266,73,1437,61,N,0,24,58,...,26,14,23,31,22,9,12,2,5,23
3,2003,11,1296,56,1457,50,N,0,18,38,...,22,8,15,17,20,9,19,4,3,23
4,2003,11,1400,77,1208,71,N,0,30,61,...,16,17,27,21,15,12,10,7,1,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92827,2020,128,1389,56,1233,54,N,0,15,60,...,16,18,20,4,27,6,17,8,4,20
92828,2020,128,1393,81,1314,53,N,0,28,61,...,16,11,13,13,29,9,18,0,1,18
92829,2020,128,1402,85,1111,68,H,0,34,57,...,15,25,35,8,17,6,18,7,2,18
92830,2020,128,1412,74,1427,69,N,0,26,53,...,27,7,7,12,22,11,13,4,2,18
92831,2020,128,1450,82,1160,68,N,0,27,55,...,21,22,32,10,24,4,11,4,4,19

In [19]:
regular_season.columns

Index(['Season', 'DayNum', 'WTeamID', 'WScore', 'LTeamID', 'LScore', 'WLoc',
       'NumOT', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR',
       'WAst', 'WTO', 'WStl', 'WBlk', 'WPF', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3',
       'LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF'],
      dtype='object')

Let's compile points per game, FG%, FG3%, offensive rebounds per game, defensive rebounds per game, FT%, assists per game, blocks per game, steals per game, fouls per game, and turnovers per game for each team in the 2017, 2018 and 2020 regular seasons for predicting the 2018, 2019 and 2021 tournaments.

In [69]:
class SeasonStats:
    def __init__(self, year):
        self.year = year
        self.data = regular_season[regular_season.Season == year]
        self.stats = pd.DataFrame(columns=['ppg', 'fgp', 'fgp3', 'orpg', \
                                          'drpg', 'ftp', 'apg', 'bpg', \
                                          'spg', 'fpg', 'topg'])
        self.relevant_teams = pd.unique(tourney[tourney.Season == year+1] \
                                       [['WTeamID', 'LTeamID']].stack())
    def save_stats(self):
        for team in self.relevant_teams:
            losing_data = self.data[self.data.LTeamID == team]
            winning_data = self.data[self.data.WTeamID == team]
            n = len(losing_data)+len(winning_data)
            def pg_stat(abbr):
                return (losing_data[f'L{abbr}'].sum() \
                        +winning_data[f'W{abbr}'].sum())/n
            ppg = pg_stat('Score')
            fgp = (losing_data['LFGM'].sum()+winning_data['WFGM'].sum())/ \
                    (losing_data['LFGA'].sum()+winning_data['WFGA'].sum())
            fgp3 = (losing_data['LFGM3'].sum()+winning_data['WFGM3'].sum())/ \
                    (losing_data['LFGA3'].sum()+winning_data['WFGA3'].sum())
            orpg = pg_stat('OR')
            drpg = pg_stat('DR')
            ftp = (losing_data['LFTM'].sum()+winning_data['WFTM'].sum())/ \
                    (losing_data['LFTA'].sum()+winning_data['WFTA'].sum())
            apg = pg_stat('Ast')
            bpg = pg_stat('Blk')
            spg = pg_stat('Stl')
            fpg = pg_stat('PF')
            topg = pg_stat('TO')
            to_add = pd.DataFrame([[ppg, fgp, fgp3, orpg, drpg, ftp, apg, \
                                    bpg, spg, fpg, topg]], \
                                      columns=self.stats.columns)
            self.stats = self.stats.append(to_add, ignore_index=True)
        self.stats.index = self.relevant_teams
        self.stats.to_csv(f'stats_{self.year}.csv')
        return self.stats
        
SeasonStats(2017).save_stats()
SeasonStats(2018).save_stats()
# We need to wait until Sunday on March 14 to know the relevant teams for 2020
# SeasonStats(2020).save_stats()

,ppg,fgp,fgp3,orpg,drpg,ftp,apg,bpg,spg,fpg,topg
1125,77.636364,0.486239,0.376119,7.818182,26.515152,0.738878,16.030303,2.484848,4.878788,16.090909,12.424242
1396,70.343750,0.424948,0.353175,10.250000,23.781250,0.690909,12.781250,3.218750,6.687500,17.406250,10.812500
1192,72.689655,0.441551,0.339100,10.827586,22.896552,0.725564,12.689655,3.000000,6.517241,18.310345,13.655172
1341,74.212121,0.429802,0.323246,11.818182,22.757576,0.669251,12.606061,3.090909,7.515152,22.121212,13.454545
1113,83.516129,0.464133,0.363995,9.903226,25.322581,0.738186,14.161290,3.580645,6.580645,18.935484,10.709677
...,...,...,...,...,...,...,...,...,...,...,...
1205,67.034483,0.430666,0.340206,8.758621,25.655172,0.733624,11.896552,2.655172,5.241379,18.448276,13.931034
1439,79.718750,0.497515,0.385144,7.375000,25.625000,0.709531,16.500000,2.281250,5.750000,15.687500,11.937500
1387,65.500000,0.417751,0.320215,11.875000,24.093750,0.652455,11.718750,4.406250,5.906250,18.343750,12.656250
1449,74.281250,0.455087,0.341346,9.781250,23.312500,0.703650,11.593750,5.062500,7.968750,18.750000,13.375000
1429,72.515152,0.449566,0.360190,8.515152,24.545455,0.703100,13.666667,2.000000,4.939394,18.303030,13.000000